html, body, div, span, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1.3em;
	line-height: 1.2;
	color: #737373; 
	background: #DDE0EC;
    background: -webkit-linear-gradient(#fff, #DDE0EC); 
    background: -o-linear-gradient(#fff, #DDE0EC); 
    background: -moz-linear-gradient(#fff, #DDE0EC); 
    background: linear-gradient(#fff, #DDE0EC); 
}

img {
    max-width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.p20 {
	padding: 20px;
}

.p10 {
	padding: 10px;
}

.container {
	width: 980px;
	margin: 0 auto;
}

.row {
	margin-left: -10px;	
	margin-right: -10px;	
}

.col2{
	margin: 0px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	width: 50%;
}

.left {
	float: left;
}
.right {
	float: right;
}

.clear {
	clear: both;
}

#top {
	background: #3e5d9e;
	border-bottom: 1px solid #0b2f7a;
	padding: 10px;
}

#top input {
	margin: 5px;
	padding: 5px;
    border: 1px solid #0b2f7a;
}
#top input[type=submit] {
	color: #fff;
	background: #3e68bf;
}
#top input[type=submit]:hover {
	background: #2c4a8a;
}


#logo {
	width: 150px;
}

#mid h3 {
	font-size: 0.875em;
	line-height: 1.5;
	color: #0e385f;
}

#mid .welcome_message h2, #mid .welcome_message h3 {
	color: #333;
}
#mid .welcome_message h2 {
	font-size: 1.7em;
}
#mid .welcome_message h3 {
	font-weight: normal;
	font-size: 0.9em;
}

#mid .welcome_message p {
	font-size: 0.575em;
	padding: 1em 0;
}



#bottom {
	background: #fff;
	height: 100px;
}