html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1.3em;
	line-height: 1.2;
	color: #737373; 
	background: #DDE0EC;
    background: -webkit-linear-gradient(#fff, #DDE0EC); 
    background: -o-linear-gradient(#fff, #DDE0EC); 
    background: -moz-linear-gradient(#fff, #DDE0EC); 
    background: linear-gradient(#fff, #DDE0EC); 
}

img {
    max-width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #365899;
}
a:hover {
	text-decoration: underline;
}

.p20 {
	padding: 20px;
}

.p10 {
	padding: 10px;
}

.container {
	width: 980px;
	margin: 0 auto;
}

.row {
	margin-left: -10px;	
	margin-right: -10px;	
}

.col2{
	margin: 0px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	width: 50%;
}

.left {
	float: left;
}
.right {
	float: right;
}

.clear {
	clear: both;
}

.border {
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
	border-radius: 0.3em;
}

#top {
	background: #3e5d9e;
	border-bottom: 1px solid #0b2f7a;
	padding: 10px;
}

#top input {
	margin: 5px;
	padding: 5px;
    border: 1px solid #0b2f7a;
}
#top input[type=submit] {
	color: #fff;
	background: #3e68bf;
}
#top input[type=submit]:hover {
	background: #2c4a8a;
}


#logo {
	width: 150px;
}

#mid h3 {
	font-size: 0.875em;
	line-height: 1.5;
	color: #0e385f;
}

#mid .welcome_message h2, #mid .welcome_message h3 {
	color: #333;
}
#mid .welcome_message h2 {
	font-size: 1.7em;
}
#mid .welcome_message h3 {
	font-weight: normal;
	font-size: 0.9em;
}

#mid .welcome_message p {
	font-size: 0.575em;
/*	padding: 1em 0;
*/}

#mid .welcome_message form {
	margin: 0.575em 0 0 0;
}

#mid .welcome_message input {
	margin: 5px 0;
	padding: 0.3em ;
    border: 1px solid #b1bbcb;
    font-size: 1em;
	width: 100%;
}

#mid .welcome_message input[type=radio]{
	display: inline-block;
	width: auto;
}


#mid .welcome_message span.radio{
	display: inline;
}

label {
    display: inline-block;
    border: none;
    margin: 0.75em 0 0 0;
}


#mid .welcome_message .select {
	border: 1px solid #bdc7d8;
	height: 2.5em;
	margin: 3px 0 0 0;
}

.select_sex {
	margin: 0.75em 0;
}

.select_sex label {
	margin: -3px 0 0 0;
}
.submitBtn{
	background: #67ae55;
    background: -webkit-linear-gradient(#67ae55, #578843); 
    background: -o-linear-gradient(#67ae55, #578843); 
    background: -moz-linear-gradient(#67ae55, #578843); 
    background: linear-gradient(#67ae55, #578843); 
	padding: 0.7em;
	border: 0;
	color: #fff;
	font-size: 0.75em;
	font-weight: bold;
	margin: 1.2em 0;
}





#bottom {
	background: #fff;
	height: 100px;
}

.languageWrapper {
	padding: 0.5em 0;
	border-bottom: 1px solid #ddd;
}

ul.languages {
	margin: 0px;
	padding: 0;
	margin-bottom: 1px solid #ddd;
}
ul.languages li {
	padding: 0px;
	margin: 0 3px 0 0;
	display: inline-block;
	font-size: 0.575em;
	list-style: none;
}
ul.languages li a {
	text-decoration: none;
}
ul.languages li a:hover {
	text-decoration: underline;
}

.copyright{
	font-size: 0.575em;
	padding: 1em 0;
}